.carousel-container{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-container::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(#000000da, #3c3c3c, #000000de);
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.7;
}

.banner-img{
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev-icon {
    display: none !important;
}

.carousel-control-next-icon {
    display: none !important;
}

.carousel-indicators [data-bs-target] {
    display: none;
}

.banner-content {
    padding-bottom: 120px;
}

.banner-content h1 {
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 20px;
    display: inline-block;
    margin: 0 0.5rem;
    animation: slideInRight;
    animation-duration: 1s;
}

.banner-content p{
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    margin: 0 0.5rem;
    animation: slideInDown;
    animation-duration: 1s;
}

.banner-btn {
    background-color: rgb(11, 186, 244);
    color: white;
    border: 2px solid rgb(11, 186, 244);
    padding: 3px 22px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.5rem;
    animation: slideInRight;
    animation-duration: 1.5s;
    margin-top: 20px;
}

.banner-btn:hover{
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(11, 186, 244);
    color: rgb(11, 186, 244);
}

/* responsive banner */

/* for laptop */
@media only screen and (max-width: 992px) {
    .carousel-container{
        height: 500px;
    }

    .carousel-container::before{
        height: 500px;
    }

    .banner-img{
        height: 500px;
    }
}

/* for tablet device */
@media only screen and (max-width: 768px) {
    .carousel-container{
        height: 450px;
    }

    .carousel-container::before{
        height: 450px;
    }

    .banner-img{
        height: 450px;
    }

    /* banner content  */
    .banner-content {
        padding-bottom: 26px;
    }
    
    .banner-content h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .banner-btn {
        padding: 3px 22px;
        font-size: 17px;
        font-weight: 600;
        border-radius: 2px;
        display: inline-block;
        margin: 0 0.5rem;
        animation: slideInRight;
        animation-duration: 1.5s;
        margin-top: 10px;
    }
    
}

/* for mobile  */
@media only screen and (max-width: 576px) {
    .carousel-container{
        height: 420px;
    }

    .carousel-container::before{
        height: 420px;
    }

    .banner-img{
        height: 420px;
    }

    /* banner content  */
    .banner-content {
        padding-bottom: 20px;
    }
    
    .banner-content h1 {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .banner-content p{
        font-size: 12px;
    }

    .banner-btn {
        padding: 3px 22px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 2px;
        display: inline-block;
        margin: 0 0.5rem;
        animation: slideInRight;
        animation-duration: 1.5s;
        
    }
    
}

