.navbar-social-container{
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.social{
    margin-left: 14px;
    fill: white;
    fill-opacity: 0.5;
}
.social:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.08);
    fill: rgb(36, 192, 254);
    fill-opacity: 1;
}
