.navbar-social-container{
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.social{
    margin-left: 8px;
}
.social:hover{
    transform: scale(1.08);
}

.login-text{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    padding: 1px 15px;
    margin-left: 20px;
}

.login-text:hover{
    background-color: rgb(11, 186, 244);
    border: 2px solid rgb(11, 186, 244);
    color: white;
    transition: 0.3s;
    transform: scale(1.1);
}