.navbar-social-container{
background-color: rgb(56, 195, 250);
}

.social{
    margin-left: 14px;
    fill: rgb(118, 119, 119);
    fill-opacity: 0.5;
}
.social:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.08);
    fill: rgb(118, 119, 119);
    fill-opacity: 1;
}



/* responsive for mobile  */
@media only screen and (max-width: 576px) {
    .number-container{
        display: none !important;
    }
}