.navbar-container {
    position: fixed;
    top: 50px;
    background: transparent;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.header-bg{
    background-color: rgba(0, 0, 0, 0.909) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    top: 0px;
    height: 80px;
    overflow-y: hidden !important;
}

.logo {
    text-decoration: underline;
}

.logo-text {
    padding-bottom: 20px !important;
}

.logo a h1 {
    font-size: 30px;
    font-weight: 700;
}

.logo a {
    text-decoration: white;
}

.logo h1 span {
    color: rgb(11, 186, 244);
}

.nav-menu-container ul li {
    list-style: none;
}

.nav-menu-container ul {
    display: flex;
}

.nav-menu {
    text-decoration: none;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: inline-block;
    margin: 0 0.5rem;
    animation: slideInDown;
    animation-duration: 1s;
}

.nav-menu:hover {
    color: rgb(11, 186, 244);
    transition: 0.5s;
}