.register-container {
    background-image: url('../../images/register.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 900px;
    position: absolute;
}

.form-container {
    margin: 140px 50px;
    width: 500px;
    height: 610px;
    background-color: rgba(183, 183, 183, 0.726);
    border-radius: 4px;
}

.form-inner-container {
    padding-left: 100px;
    padding-top: 30px;
}

.form-inner-container h2 {
    font-weight: 700;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(11, 11, 11), rgb(4, 165, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-inner-container label {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
}

.form-inner-container input {
    margin-bottom: 5px;
}

.form-check-input{
    cursor: pointer;
}

.form-btn {
    margin-top: 5px;
    background-color: rgb(6, 183, 253);
    color: white;
    border: 2px solid rgb(6, 183, 253);
    width: 75%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
}

.form-btn:hover {
    background-color: transparent;
    border: 2px solid rgb(6, 183, 253);
    color: white;
    transition: 0.3s;
}

.register-btn {
    padding-left: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.register-btn:hover {
    color: rgb(67, 200, 252);
}

/* responsive for mobile  */

@media only screen and (max-width: 576px) {
    .register-container {
        max-height: 900px;
    }

    .form-container {
        margin-top: 150px !important;
        width: 380px;
        height: 610px;
    }

    .form-inner-container {
        padding-left: 30px;
        padding-top: 30px;
    }
}