.loading-spinner {
  padding-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* responsive for mobile */
@media only screen and (max-width: '576px') {
  .loading-spinner {
    margin-top: 200px;
    width: 30px;
  }
}